html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background: #eee;
  color: #666;
  overflow: hidden;
}

.black-theme {
  width: 100%;
  height: 100%;
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: 100%;
}

.white-theme {
  width: 100%;
  height: 100%;
}

#clock {
  height: 90%;
  width: 100%;
  margin: auto;
  text-align: center;
}

.button-group {
  padding: 0 10px;
}

.clickable {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.side-nav {
  width: 350px;
}

.black-theme .almost-hidden {
  color: white;
}

.almost-hidden {
  color: black;
  opacity: 0.2;
}
.almost-hidden:hover {
  opacity: 1;
}

#billboard {
  position: relative;
  font-size: 4rem;
  width: 100vw;
  height: 100vh;
}
#billboard .message {
  font-size: 3rem;
  position: absolute;
  display: inline-block;
  bottom: 0rem;
  margin: -3rem 0 5rem 0;
}
.center {
  width: 100%;
  text-align: center;
}
