.anim04c {
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.35, 0.15, 1.4);
  transition: all 0.4s cubic-bezier(0.5, 0.35, 0.15, 1.4);
}
.cal {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  right: 30px;
  text-align: center;
}
/* em {
  color: #ed4988;
} */
.cal-outer {
  position: relative;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.cal-signboard {
  width: 100px;
  height: 100px;
  margin: auto;
  color: #fff;
  border-radius: 10px;
}

.cal-front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: #ff726b;
  text-align: center;
}
.cal-right {
  position: absolute;
  right: 0;
  z-index: 2;
  -webkit-transform: rotate(-10deg) translate(7px, 8px);
  -moz-transform: rotate(-10deg) translate(7px, 8px);
  -ms-transform: rotate(-10deg) translate(7px, 8px);
  -o-transform: rotate(-10deg) translate(7px, 8px);
  transform: rotate(-10deg) translate(7px, 8px);
  background: #efc94c;
}
.cal-left {
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transform: rotate(5deg) translate(-4px, 4px);
  -moz-transform: rotate(5deg) translate(-4px, 4px);
  -ms-transform: rotate(5deg) translate(-4px, 4px);
  -o-transform: rotate(5deg) translate(-4px, 4px);
  transform: rotate(5deg) translate(-4px, 4px);
  background: #3498db;
}

.cal-outer:hover .inner {
  -webkit-transform: rotate(0) translate(0);
  -moz-transform: rotate(0) translate(0);
  -ms-transform: rotate(0) translate(0);
  -o-transform: rotate(0) translate(0);
  transform: rotate(0) translate(0);
}

.cal-outer:active .inner {
  -webkit-transform: rotate(0) translate(0) scale(0.9);
  -moz-transform: rotate(0) translate(0) scale(0.9);
  -ms-transform: rotate(0) translate(0) scale(0.9);
  -o-transform: rotate(0) translate(0) scale(0.9);
  transform: rotate(0) translate(0) scale(0.9);
}
.cal-outer:active .cal-front .date {
  -webkit-transform: scale(2);
}
.cal-outer:active .cal-front .day,
.cal-outer:active .cal-front .month {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.cal-outer:active .cal-right {
  -webkit-transform: rotate(-5deg) translateX(80px) scale(0.9);
  -moz-transform: rotate(-5deg) translateX(80px) scale(0.9);
  -ms-transform: rotate(-5deg) translateX(80px) scale(0.9);
  -o-transform: rotate(-5deg) translateX(80px) scale(0.9);
  transform: rotate(-5deg) translateX(80px) scale(0.9);
}
.cal-outer:active .cal-left {
  -webkit-transform: rotate(5deg) translateX(-80px) scale(0.9);
  -moz-transform: rotate(5deg) translateX(-80px) scale(0.9);
  -ms-transform: rotate(5deg) translateX(-80px) scale(0.9);
  -o-transform: rotate(5deg) translateX(-80px) scale(0.9);
  transform: rotate(5deg) translateX(-80px) scale(0.9);
}

.cal-outer:active .calMain {
  -webkit-transform: scale(1.8);
  opacity: 0;
  visibility: hidden;
}
.cal-outer:active .calNormal {
  bottom: -30px;
  opacity: 1;
  visibility: visible;
}
.cal-outer:active .year {
  top: -30px;
  opacity: 1;
  visibility: visible;
  letter-spacing: 3px;
}

.calMain {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
}
.cal-month,
.cal-day {
  font-size: 10px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.cal-date {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.cal-year {
  width: 100%;
  position: absolute;
  top: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  color: #ff726b;
}
.calNormal {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
